@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html{
    background-color: white;
    font-family: "Nunito Sans";
    display: flex;
    height: 100vh;
    justify-content: center;
}
body{ 
    background-color: #000000;
    color: #FFFF;
    font-family: Nanito sant;
}